@page
@model RegisterByInviteModel
@{ 
    //Layout = "_LandingLayout";
    ViewData["Title"] = "RegisterByInviteModel"; }

<h1>Create Member Account</h1>

<form method="post">
    <div class="card">
        
        <div class="card-body">
                
            <div class="row">
                <!-- Form Elements -->
                <div class="col-md-7">
                    <input hidden asp-for="Input.CompanyId" />
                    <input hidden asp-for="Input.ProjectId" />
                    <div class="form-group">
                        <label asp-for="Input.Company" class="control-label"></label>
                        <input asp-for="Input.Company" class="form-control" disabled />
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Email" class="control-label">Email</label>
                        <input type="email" class="form-control" asp-for="Input.Email" placeholder="Your email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName" class="control-label"></label>
                        <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName" class="control-label"></label>
                        <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Input.Password" class="control-label"></label>
                        <input asp-for="Input.Password" class="form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
                </div>
            </div>
                
            <!-- ./ Form Elements -->

        </div>
    </div>
</form>
            

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}